/*Layout*/

.layout-page {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 130px 40rem 40rem 36rem 36rem 100px;
    grid-template-areas: 
    "header header header"
    "main main main"
    "section-1 section-1 section-1"
    "section-2 section-2 section-2"
    "section-3 section-3 section-3"
    "footer footer footer";
    
}

/*Header*/
.headerWrapper {
    grid-area: header; 
    display: inline-flex;
    justify-content: space-between;
    background-color: #28AA6A;

}
/*contenedor logo*/
.headerWrapper__logoWrapper {
  display: flex;
  flex: 0 1 20vw;
  padding: 1rem;
} 

.headerWrapper__logoEmbed {
    flex-grow: 1;
    object-fit: contain;
    
}
/*contenedor navbar*/
.headerWrapper__dropdown{
    display: none;
}

.headerWrapper__navbar {
    display: inline-flex;
    justify-content: end;
    align-items: center;
    flex: 1 1 50vw;
    padding: 1rem 1.3rem;
    
}

.headerWrapper__btn {
    margin: 0 0.2rem;
    font: 400 1rem  Arial, Helvetica, sans-serif;
    border-radius: 30px;
    background-color: #DB841C;
    color:#fff;
    
}

.headerWrapper__btn:hover {
    border-radius: 30px 0 30px 0;
    background-color: #ff8c00;
    color:#fff;
    transform: scale(1.12);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    transition: 0.6s;
}

.headerWrapper__btn--primary {
    text-decoration: none;
    color: #fff;
}

.headerWrapper__btn--secondary {
    text-decoration: none;
    color: #fff;
}

/*Main*/
.main-cntWrapper {
    grid-area: main; 
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    background-image:url(./img/sonriente-hombre-mujer.png);
    flex-wrap: wrap;
    z-index:-1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: space-around; /*No olvides eliminar este background*/
}

.card{
  justify-content: center;
  width: 18vw;
  flex-shrink: 0;
  top: 5%;
  margin-top: 1vh;
  margin-left: 12%;
  border: solid grey 1px;
  border-radius: 40px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: white;
  font-family: "Didact Gothic"- sans-serif;
  height: fit-content;
}


.title{
  display: flex;
  width: fit-content;
  color: #111827;
  font-size: clamp(1.2rem , 2vw, 2.8rem);
  font-family: Didact Gothic;
  line-height: 1.9rem;
  margin-bottom: 5%;
  font-weight: 300;
}

.name{
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
  justify-items: center;
  color: #0000;
  width: 100%;
  font-family: Didact Gothic;
  height: fit-content;
}

input{

  display: flex;
  flex-direction:column;
  align-items:space-evenly;
  height: 4.5vh;
  border: 1px solid grey;
  color: #67696d;
  font-size: clamp(0.9rem , 1.5vw, 1.3rem);
  font-family: Didact Gothic;
  margin-bottom: 5%;
  border-radius: 30px;
  width: 97%;
  border: 1px solid #E5E7EB;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  justify-self: center;
}

.cta-btn{
  width:40%;
  height: 4.4vh;
  color: white;
  font-family: Didact Gothic;
  font-weight: bold;
  font-size: clamp(0.9rem , 1.5vw, 1.6rem);
  background-color: #28AA6A;
  border: none;
  border-radius: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  transform: translateX(70%);
}

label {
color: #000;
font-size: 1.3rem;
font-family: Didact Gothic;
font-size: clamp(1rem , 2vw, 1.3rem);
align-self: start;
margin-left: 0.4rem;
margin-bottom: 2.5%;
}


.action{
  position: absolute;
  top: 90vh; 
  right: 15%;
  z-index:1;
  width: 20vw;
  height: 5vh;
  border-radius: 30px 0px;
  color:white;
  background: #28AA6A;
  align-content: center;
  font-family: Didact Gothic;
  font-weight: bold;
  font-size: clamp(0.9rem , 2vw, 1rem);
  text-align: center;
  line-height: 1.875rem;
  padding-top: 1%;
  padding-bottom: 0.5%;
  padding-right: 3%;
  padding-left: 3%;
  
}

@media (max-width:767px)  { 
  
  .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45vw;
    align-self: center;
    flex-shrink: 0;
    margin-top: 1vh;
    border: solid grey 1px;
    border-radius: 40px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
    font-family: "Didact Gothic"- sans-serif;
    height: fit-content;
    order: 1;
    transform: translateY(70vh);
  }
  
  .title{
    align-self: center;
  }

  .action{
    transform: translateY(100vh);
    top: 0;
    width: 50%;
    margin-right: 5%;
  }
}


/*Contenedor sección 1*/
.section-1 {
    grid-area: section-1;
    
    
}
/*Contenedor sección 2*/
.section-2 {
    grid-area: section-2;
    background-color: #0B4D43;
    
}
/*Contenedor sección 3*/
.section-3 {
    grid-area: section-3;
    background-color: blue; /*No olvides eliminar este background*/
}

/*Contenedor footer*/
.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #28AA6A;
}

.titlefoo {
    font: 400 1rem  Arial, Helvetica, sans-serif;
    color: #000;
}

@media screen and (max-width: 767px) {

  .headerWrapper__navbar {
    display: none; /* Ocultar el Navbar en dispositivos móviles */
  }
  
  .headerWrapper__dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .headerWrapper__dropbtn {
    background-color: transparent;
    color: #fff;
    font-size: 3rem;
    padding: 2rem;
    border: none;
    cursor: pointer;
  }
  
  .headerWrapper__dropdown-content {
    display: none;
    position: absolute;
    top: 130px;
    left: 0; 
    width: 100%;
    min-height: 200px;
    background-color: #0B4D43 ;

  }
  
  .headerWrapper__btn--primary {
    display: flex;
    justify-content: center;
    flex: 1 1 10px;
    align-items: center;
    font: 400 1.4rem  Arial, Helvetica, sans-serif;
    border-radius: 30px;
    background-color: transparent;
    color:#fff;
  }
  
  .headerWrapper__btn--primary:hover {
    text-decoration: none;
    border-radius: 30px 0 30px 0;
    background-color: #ff8c00;
    color:#fff;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
    transition: 0.6s;
  }

  /* Mostrar el menú desplegado al hacer hover en el Navbar móvil */
  .headerWrapper__dropdown:hover .headerWrapper__dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

    
}

/* Copiar cada uno su CSS*/
.section1 {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 5%;
  }
  
  .title-section1 {
    display: flex;
    font-size: 3.75rem;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .title-section1 h2 {
      width: 40vw;
      margin-right: 5%;
      margin-left: 5%;
    }
  
  .section1-row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 5%;
    padding-top: 5%;
    
  }
  .box {
    display: flex;
    height: 0%;
    width: auto;
    border-color: black;
    border-radius: 1rem;
    box-shadow: 10px 10px 15px grey;
    background-color: whitesmoke;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .box p {
    padding: 5%;
  }
  .box h4 {
    font-weight: bold;
  }

  @media screen and (max-width: 767px){
   
    .section1 {
        display: flex;
        width: auto;
        height: 100%;
        justify-content: space-around;
        flex-direction: column;
        padding-top: 5%;
      }
      
      .title-section1 {
        display: flex;
        font-size: 1.5rem;
        justify-content:start;
        align-items: center;
        width: 100%;
      }
      .title-section1 br{
       display: none;
      }
      .title-section1 h2 {
          width: 100vw;
          margin-right: 5%;
          margin-left: 5%;
    
        }
        .title-section1 img{
            width: 6rem;
            height: 3.5rem;
          flex-direction: column;
        }
            
      .section1-row {
        display: flex;
        justify-content:space-around;
        flex-direction: column;
        width: auto;
        height: 100%;
        gap: 5%;
        padding: 5%;
      }
      .box {
        display: flex;
        height: fit-content;
        width:fit-content;
        border-color: black;
        border-radius: 1rem;
        box-shadow: 10px 10px 15px grey;
        background-color: whitesmoke;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 5%;
        font-size: 1rem;
      }
      .box img{
        width:15%;
        height:min-content;
      }
      .box p {
        padding: 5%;
      }
      .box h4 {
        font-weight: bold;
    }
   
    }
/*lo de arriba Gisela, abajo Andrea*/
* {
  font-family: 'Didact Gothic', sans-serif;
}
.services {
  background-color: #0B4D43;
  padding-bottom: 1%;
}
.services--title {
  display: flex;
  justify-content: end;
  align-items: center;
  color: #FFF;
  text-align: right;
  font-size: 3.75rem;
}
.services--description {
  padding: 4%;
  margin: 5%;
  width: 75%;
  border-radius: 60px 0px;
  background: #FAF7F7;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.team--title{
  margin-top: 3%;
  margin-bottom: 3%;
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 3.75rem;
}
.img--team {
  width: 100%;
}
h2 {
  width: 40vw;
  margin-right: 5%;
  margin-left: 5%;
}
.acordeon {
  width: 70vw;
  padding: 2rem;
  background-color: aqua;
  border: 3px solid red;
  display: flex;
  flex-direction: column;
  gap: 1.5rem
}

summary{
  background-color: lightgreen;
  padding: 1rem;
}